/*body{*/
	/*font-family: "微软雅黑";*/
	/*background-color: rgb(238,238,238);*/
/*}*/
/*!*设置header*!*/
/*.navbar-default {*/
    /*background-color: hsl(205, 100%, 39%);*/
/*}*/
/*.navbar-default .navbar-brand {*/
    /*color: white;*/
/*}*/
/*.login-text{*/
	/*font-size: 13px;*/
	/*margin-right: 15px;*/
/*}*/
/*!**!*/

/*!*设置sider左菜单*!*/
/*#sider-menu{*/
	/*background-color: rgb(245,245,245);*/
	/*border: 1px solid rgb(204,204,204);*/
	/*font-weight: 700;*/
/*}*/
/*.nav>li>a {*/
    /*color: rgb(98,98,98);*/
    /*text-decoration: none;*/
/*}*/
/*.breadcrumb a {*/
    /*color: rgb(160,160,160);*/
    /*text-decoration: none;*/
/*}*/
/*.panel{*/
	/*font-size: 15px;*/
/*}*/
/*.panel-body{*/
	/*font-weight: 300;*/
	/*font-size: 28px;*/
	/*color: rgb(160,160,160);*/
/*}*/
/*.div-content{*/
	/*background-color: white;*/
/*}*/
/*.div-fuwuqi{*/
	/*font-size: 15px;*/
	/*color: rgb(160,160,160);*/
/*}*/


/*table td{*/
	/*padding: 0px;*/
/*}*/
.table>tbody>tr>td{
	padding-right: 0px;
}

/*.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {*/
    /*padding: 0px;*/
    /*line-height: 1.42857;*/
    /*vertical-align: top;*/
    /*border-top: 1px solid #DDD;*/
/*}*/

.dropdown-logs-wrap{
	display: inline-block;
	position: relative;
}
.dropdown-logs-wrap a{
	text-decoration: none;
	display: block;
	position: relative;
	text-align: center;
	color: white;
	font-size: 15px;
}
.dropdown-logs-menu{
	display: none;
	z-index: 1000;
	position: absolute;
	width: 100%;
	/*background-color: rgb(245,245,245);*/
	background-color: rgb(0,116,199);
}
.dropdown-logs-wrap:hover .dropdown-logs-menu{
	display: block;
}
.btn-dropdown-logs{
	border: none;
	background-color: white;
	color: black;
}