.btn-oper{
    font-size: 12px;border: 0px;
}

.btn-oper-cleancache{
    background-color: #EE0000;color: white;
    border: 0px;font-weight: 300;
}
.div-cmd-display{
    margin: 15px;
    width: 100%;
    height: 350px;
    border: 2px solid rgb(238,238,238);
    padding-top: 5px;
    font-size: 15px;
    background-color: #FFFFF0;
    overflow-y: auto;
}
.div-dbinfo{
    height: 30px;
}
.span-user-pwd{
    display: none;
}

/*遮罩层*/
.div-mask{
    position: absolute;
    top: 0;
    background-color: rgba(0,0,0,0.2);
    /*background-color: #ededed;*/
    z-index: 1000;
    /*display: none;*/
    /*filter: alpha(opacity=50);*/
    /*-moz-opacity: 0.5;*/
    /*opacity:0.5;*/
}

.div-loading{
    position: absolute;
    height: 150px;
    margin: 0px;
    padding: 0px;
    width: 300px;
    /*background-color: rgb(204,204,204);*/
    /*filter: alpha(opacity=100);*/
    /*-moz-opacity: 1;*/
    /*opacity:1;*/
    z-index: 1200;
    line-height: 150px;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -150px;
}

#div-edit-block{
    width: 100%;
    height: 100%;
    display: none;
}

#edit-block{
    width: 100%;
    height: 300px;
}