<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/static/js/sub-menu.js"></script>
		<script type="text/javascript" src="/static/js/ormmoni.js"></script>
        <script type="text/javascript" src="/static/js/jquery-json-3.2.1.js"></script>
        <script type="text/javascript" src="/static/js/tgt-getrepinfo.js"></script>
        <script type="text/javascript" src="/static/js/src-getrepinfo.js"></script>
		<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/static/css/monisite-base.css">
	</head>

    <body>
		<div id="wrapper">
			<nav class="navbar navbar-default">
				<!--navbar-header-->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar">
                    	<span class="sr-only">Toggle navigation</span>
                    	<span class="icon-bar"></span>
                    	<span class="icon-bar"></span>
                    	<span class="icon-bar"></span>
                	</button>
					<a class="navbar-brand" href="#">
						运维监控平台v1.0
					</a>
				</div>
				<!--end navbar-header-->

				<!--/*navbar-header 右侧菜单*/-->
				<ul class="nav navbar-right navbar-right-menu">
					<li>
						<a href="#">
							通知
						</a>
					</li>
					<li>
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user">
							</i> 欢迎登陆，C罗 <b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a href="#">账号设置</a>
							</li>
							<li>
								<a href="#">退出登录</a>
							</li>
						</ul>
					</li>
				</ul>
				<!--/*END navbar-header 右侧菜单*/-->

				<!--页面侧边栏-->
				<div class="collapse navbar-collapse sidebar">
					<div class="navbar-side">
						<a href="{% url 'ormindex' %}">首页</a>
						<a href="#">主机监控</a>
						<a href="#">数据库监控</a>
						<ul class="sidebar-sub-menu">
							<li>
								<a href="#">oracle</a>
							</li>
							<li>
								<a href="#">mysql</a>
							</li>
							<li>
								<a href="#">mangodb</a>
							</li>
						</ul>
						<a href="#">DB同步监控</a>
						<ul class="sidebar-sub-menu">
							<li>
								<a href="{% url 'ormmoni' %}">dsg同步监控</a>
							</li>
							<li>
								<a href="#">dataguard</a>
							</li>
							<li>
								<a href="#">mysql AB复制</a>
							</li>
						</ul>
						<a href="#">网络监控</a>
						<a href="#">监控配置</a>
					</div>
				</div>
				<!--END页面侧边栏-->
			</nav>

			<!--主内容区域div-->
			<div id="content-wrapper">
				<div class="row content-row">

					<!--路径path-->
					<div class="col-md-12">
						<ol class="breadcrumb" style="margin-bottom: 0px;border-radius: 0px; background-color: rgb(245,245,245);border: 1px solid rgb(229,229,229);">
							<li>
								<a href="{% url 'ormindex' %}">首页</a>
							</li>
							<li>
								<a href="#">监控信息</a>
							</li>
{#							<li class="active">Data</li>-->#}
						</ol>
					</div>
					<!--END  路径path-->

					<div class="col-md-12">
						<h3 style="color: rgb(38,121,197);border-bottom: 1px solid rgb(226,226,226);padding-bottom: 5px;">
							监控信息列表
						</h3>
					</div>

					<!--主内容显示block-->
					<div class="col-md-12">
						<!--同步状态信息列表-->
						<table class="table table-bordered">
							<thead style="background-color: rgb(67,142,185);color: white;font-family: '微软雅黑';font-weight: 700;">
								<td></td>
								<td>同步描述</td>
								<td>源端IP</td>
                                <td>S端远程脚本</td>
								<td>源端状态</td>
								<td>源端动作</td>
                                <td>S端时间</td>
								<td>备端IP</td>
                                <td>T端远程脚本</td>
								<td>备端状态</td>
								<td>备端动作</td>
                                <td>T端时间</td>
								<td>日志</td>
								<td></td>
							</thead>
							<tbody style="font-family: '微软雅黑';font-size: 12px;">
								<!--行记录-->
                            {% for l in dblist %}
                                <tr>
									<td>
										<a href="#" class="link-collose"><img src="/static/img/111.png"></a>
                                        <span class="span-rid" style="display: none">{{ l.rid }}</span>
                                        <span class="span-src-user" style="display: none">{{ l.src_ssh_user }}</span>
                                        <span class="span-src-pwd" style="display: none">{{ l.src_ssh_pwd }}</span>
                                        <span class="span-tgt_user" style="display: none">{{ l.tgt_ssh_user }}</span>
                                        <span class="span-tgt-pwd" style="display: none">{{ l.tgt_ssh_pwd }}</span>
									</td>
									<td>{{ l.describe }}</td>
									<td>
										{{ l.src_ip }}:{{ l.src_path }}
									</td>
                                    <td>
                                        {{ l.src_script_path }}
                                    </td>
									<td>

									</td>
									<td>

									</td>
                                    <td>
                                        {# s time#}
                                    </td>
									<td>
										{{ l.tgt_ip }}:{{ l.tgt_path }}
									</td>
                                    <td>
                                        {{ l.tgt_script_path }}
                                    </td>
									<td></td>
									<td></td>
                                    <td></td>
									<td>
										<div>
                                            <span class="span-link-slog"><a href="{% url 'ormlogs' RID=l.rid TYPE=1 %}">S端</a></span>
                                            <span class="span-link-tlog"><a href="{% url 'ormlogs' RID=l.rid TYPE=2 %}">T端</a></span>
                                        </div>
									</td>
									<td>
										<a href="{% url 'ormoper' RID=l.rid %}">同步操作</a>
                                    </td>
								</tr>
								<tr class="td-yc">
									<td colspan="9">
										<div>
											<span style="font-size: 18px;">S</span>：
                                            控制台进程数-<span id="span-dbps-num" class="span-info"></span>&nbsp;&nbsp;&nbsp;
                                            分析进程数-<span id="span-vag-num" class="span-info"></span>&nbsp;&nbsp;&nbsp;
                                            传送进程数-<span id="span-sender-num" class="span-info"></span>&nbsp;&nbsp;&nbsp;
                                            分析进程报错-<span id="span-vag-err" class="span-info"></span>&nbsp;&nbsp;&nbsp;
                                            传送进程报错-<span id="span-sender-err" class="span-info"></span>&nbsp;&nbsp;&nbsp;
										</div>
										<div>
										</div>
										<div>
											<span style="font-size: 18px;">T</span>：
                                            VAGENTD-<span id="span-vagnum" class="span-info"></span>&nbsp;|&nbsp;接收进程报错-<span id="span-vagnum-err" class="span-info"></span>&nbsp;|&nbsp;
                                            装载进程-全量><span id="span-loader-s"  class="span-info"></span>&nbsp;|&nbsp;
                                            装载进度-<span id="span-loader-rate"  class="span-info"></span>&nbsp;|&nbsp;
                                            装载报错-<span id="span-loader-err"  class="span-info"></span>&nbsp;|&nbsp;
                                            装载时间-<span id="span-loader-time"  class="span-info"></span>
                                            <br/>
										</div>
									</td>
								</tr>
								<!--END 行记录-->
                            {% endfor %}
							</tbody>
						</table>
					</div>
					<!--END主内容显示block-->


					<!--footer区域-->
					<div class="col-md-12">
						Copyright by @ 李丹.信息技术部
					</div>
					<!--END footer区域-->
				</div>
			</div>
			<!--END主内容区域div-->

		</div>
	</body>

</html>