<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>

        <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/static/css/monisite-base.css">
		<script type="text/javascript" src="/static/js/sub-menu.js"></script>
        <script type="text/javascript" src="/static/js/jquery-json-3.2.1.js"></script>
        <script type="text/javascript" src="/static/js/tgt-getrepinfo.js"></script>
        <script type="text/javascript" src="/static/js/src-getrepinfo.js"></script>
        <script type="text/javascript" src="/static/js/ormoper.js"></script>
{#		<link rel="stylesheet" href="/static/css/rmappindex.css" />#}
        <link rel="stylesheet" href="/static/css/ormoper.css">

	</head>
	<body>
        <div id="wrapper">
			<nav class="navbar navbar-default">
				<!--navbar-header-->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar">
                    	<span class="sr-only">Toggle navigation</span>
                    	<span class="icon-bar"></span>
                    	<span class="icon-bar"></span>
                    	<span class="icon-bar"></span>
                	</button>
					<a class="navbar-brand" href="#">
						运维监控平台v1.0
					</a>
				</div>
				<!--end navbar-header-->

				<!--/*navbar-header 右侧菜单*/-->
				<ul class="nav navbar-right navbar-right-menu">
					<li>
						<a href="#">
							通知
						</a>
					</li>
					<li>
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user">
							</i> 欢迎登陆，{{ loginuser }} <b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a href="#">账号设置</a>
							</li>
							<li>
								<a href="{% url 'ormlogout' %}">退出登录</a>
							</li>
						</ul>
					</li>
				</ul>
				<!--/*END navbar-header 右侧菜单*/-->

				<!--页面侧边栏-->
				<div class="collapse navbar-collapse sidebar">
					<div class="navbar-side">
						<a href="{% url 'ormindex' %}">首页</a>
						<a href="#">主机监控</a>
						<a href="#">数据库监控</a>
						<ul class="sidebar-sub-menu">
							<li>
								<a href="#">oracle</a>
							</li>
							<li>
								<a href="#">mysql</a>
							</li>
							<li>
								<a href="#">mangodb</a>
							</li>
						</ul>
						<a href="#">DB同步监控</a>
						<ul class="sidebar-sub-menu">
							<li>
								<a href="{% url 'ormmoni' %}">dsg同步监控</a>
							</li>
							<li>
								<a href="#">dataguard</a>
							</li>
							<li>
								<a href="#">mysql AB复制</a>
							</li>
						</ul>
						<a href="#">网络监控</a>
						<a href="#">监控配置</a>
					</div>
				</div>
				<!--END页面侧边栏-->
			</nav>

			<!--主内容区域div-->
			<div id="content-wrapper">
				<div class="row content-row">

					<!--路径path-->
					<div class="col-md-12">
						<ol class="breadcrumb" style="margin-bottom: 0px;border-radius: 0px; background-color: rgb(245,245,245);border: 1px solid rgb(229,229,229);">
							<li>
								<a href="{% url 'ormindex' %}">首页</a>
							</li>
							<li>
								<a href="{% url 'ormmoni' %}">监控信息</a>
							</li>
							<li>同步操作</li>
						</ol>
					</div>
					<!--END  路径path-->

					<div class="col-md-12">
						<h3 style="color: rgb(38,121,197);border-bottom: 1px solid rgb(226,226,226);padding-bottom: 5px;">
							同步操作
						</h3>
					</div>

					<!--主内容显示block-->
					<!--操作 block-->
					<div class="col-md-12">
                        <div class="col-md-6">
                            <h4>Source</h4>
                            <div class="div-dbinfo" id="div-src-dbinfo">
                                <span>{{ dbinfo.src_ip }}</span>:<span>{{ dbinfo.src_path }}</span>
                                <span class="span-user-pwd">{{ dbinfo.src_ssh_user }}</span>
                                <span class="span-user-pwd">{{ dbinfo.src_ssh_pwd }}</span>
                            </div>
                            <button class="btn-oper" id="btn-src-startup">启动进程</button>
                            <button class="btn-oper" id="btn-src-stop">停止进程</button>
                            <button class="btn-oper btn-oper-cleancache" id="btn-src-clean">清除缓存</button>
                            <button class="btn-oper" id="btn-src-chk">检查进程</button>
                            <button class="btn-oper" id="btn-src-dic">控制台导出对象</button>
                            <button class="btn-oper" id="btn-src-fullsync">全同步</button>
                            <button class="btn-oper" id="btn-edit-mapping">编辑mapping</button>
                        </div>
                        <div class="col-md-6">
                            <h4>Target</h4>
                            <div class="div-dbinfo" id="div-tgt-dbinfo">
                                <span>{{ dbinfo.tgt_ip }}</span>:<span>{{ dbinfo.tgt_path }}</span>
                                <span class="span-user-pwd">{{ dbinfo.tgt_ssh_user }}</span>
                                <span class="span-user-pwd">{{ dbinfo.tgt_ssh_pwd }}</span>
                            </div>
                            <button class="btn-oper" id="btn-tgt-startup">启动进程</button>
                            <button class="btn-oper" id="btn-tgt-stop">停止进程</button>
                            <button class="btn-oper btn-oper-cleancache" id="btn-tgt-clean">清除缓存</button>
                            <button class="btn-oper" id="btn-tgt-chk">检查进程</button>
                            <button class="btn-oper">同步对象</button>
                        </div>
                        <div class="col-md-12 div-cmd-display" id="id-cmd-display">
                            <div id="div-edit-block">
                                <form method="post">
                                    <textarea id="edit-block">

                                    </textarea>
                                    <input type="button" id="btn-edit" value="更新"><input type="button" id="btn-edit-exit" value="退出">
                                </form>

                            </div>

                        </div>
					</div>
					<!--END主内容显示block-->


					<!--footer区域-->
					<div class="col-md-12">
						Copyright by @ 李丹.信息技术部
					</div>
					<!--END footer区域-->
				</div>
			</div>
			<!--END主内容区域div-->

		</div>
	</body>
    <div style="background-color: #c1e2b3;display: none;" id="div-zhezao">
        exporting......
    </div>
</html>