<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/static/js/ormmoni.js"></script>
        <script type="text/javascript" src="/static/js/jquery-json-3.2.1.js"></script>
        <script type="text/javascript" src="/static/js/tgt-getrepinfo.js"></script>
        <script type="text/javascript" src="/static/js/src-getrepinfo.js"></script>
        <script type="text/javascript" src="/static/js/ormoper.js"></script>
		<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/static/css/rmappindex.css" />
        <link rel="stylesheet" href="/static/css/ormoper.css">

	</head>
	<body>
		<!--header block-->
		<nav class="navbar navbar-default">
			<div class="navbar-brand">
				同步监控平台v1.0
			</div>
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sider-menu">
				<span class="sr-only">Toggle navigation</span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
			</button>

			<div class="navbar-brand navbar-right login-text">
				C罗，欢迎登陆
			</div>

		</nav>
		<!--header block-->

		<div class="container-fluid">
			<div class="row">
				<div class="col-md-2">
					<!--左边菜单栏-->
					<!--<div class="collapse" id="bs-example-navbar-collapse-1">1</div>-->
					<ul class="nav nav-stacked collapse navbar-collapse" id="sider-menu">
						<li role="presentation" class="active">
							<a href="#">
								<span class="glyphicon glyphicon-home" style="margin-right: 15px;"></span>平台首页</a>
						</li>
						<li role="presentation">
							<a href="#"><span class="glyphicon glyphicon-th-list" style="margin-right: 15px;"></span>同步监控</a>
						</li>
						<li role="presentation">
							<a href="#"><span class="glyphicon glyphicon-stats" style="margin-right: 15px;"></span>主机监控</a>
						</li>
						<li role="presentation">
							<a href="#"><span class="glyphicon glyphicon-stats" style="margin-right: 15px;"></span>数据库监控</a>
						</li>
						<li role="presentation">
							<a href="#"><span class="glyphicon glyphicon-user" style="margin-right: 15px;">
  							</span>账号管理</a>
						</li>
						<li role="presentation">
							<a href="#"><span class="glyphicon glyphicon-minus" style="margin-right: 15px;">
  							</span>退出登录</a>
						</li>
					</ul>
					<!--左边菜单栏-->
				</div>
				<div class="col-md-10 div-content">
					<!--路径导航-->
					<div class="col-md-12">
						<ol class="breadcrumb">
							<li>
								<a href="#">平台首页</a>
							</li>
							<li>
								<a href="{% url 'ormmoni' %}">同步监控</a>
							</li>
                            <li>
								<a href="#">同步操作</a>
							</li>
							<!--<li class="active">Data</li>-->
						</ol>
					</div>
					<!--路径导航-->

                    <!--操作 block-->
					<div class="col-md-12">
                        <div class="col-md-6">
                            <h4>Source</h4>
                            <div class="div-dbinfo" id="div-src-dbinfo">
                                <span>{{ dbinfo.src_ip }}</span>:<span>{{ dbinfo.src_path }}</span>
                                <span class="span-user-pwd">{{ dbinfo.src_ssh_user }}</span>
                                <span class="span-user-pwd">{{ dbinfo.src_ssh_pwd }}</span>
                            </div>
                            <button class="btn-oper" id="btn-src-startup">启动进程</button>
                            <button class="btn-oper" id="btn-src-stop">停止进程</button>
                            <button class="btn-oper btn-oper-cleancache">清除缓存</button>
                            <button class="btn-oper" id="btn-src-chk">检查进程</button>
                            <button class="btn-oper">控制台导出对象</button>
                            <button class="btn-oper">全同步</button>
                            <button class="btn-oper">编辑mapping</button>
                        </div>
                        <div class="col-md-6">
                            <h4>Target</h4>
                            <div class="div-dbinfo" id="div-tgt-dbinfo">
                                <span>{{ dbinfo.tgt_ip }}</span>:<span>{{ dbinfo.tgt_path }}</span>
                                <span class="span-user-pwd">{{ dbinfo.tgt_ssh_user }}</span>
                                <span class="span-user-pwd">{{ dbinfo.tgt_ssh_pwd }}</span>
                            </div>
                            <button class="btn-oper" id="btn-tgt-startup">启动进程</button>
                            <button class="btn-oper" id="btn-tgt-stop">停止进程</button>
                            <button class="btn-oper btn-oper-cleancache">清除缓存</button>
                            <button class="btn-oper" id="btn-tgt-chk">检查进程</button>
                            <button class="btn-oper">同步对象</button>
                        </div>
                        <div class="col-md-12 div-cmd-display">

                        </div>
					</div>

			</div>

			<!--footer-->
			<div class="row">
				<div class="col-md-12" style="text-align: center;font-size: 12px;margin-top: 50px;">
					copyright by ©李丹,信息技术部
				</div>
			</div>
		</div>

	</body>

</html>